/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

*.pyc
*~
__pycache__
db.sqlite3
/static
/media
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.schema
.env.db
celerybeat-schedule
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
node_modules/
*.log
*.pot
*.pyc
local_settings.py
migrations/
.idea/
.vscode/
*.swp
.DS_Store
*.sublime-workspace
*.sublime-project
*.sass-cache
